# ======================
# .NET CORE
# ======================
**/bin/
**/obj/

# Logs
**/Logs/
*.log
*.txt

# User secrets (DO NOT TRACK)
**/appsettings.Development.json
**/appsettings.Staging.json

# ======================
# ANGULAR
# ======================
node_modules/
dist/
.angular/

# ======================
# IDE
# ======================
.vs/
.vscode/