############################################
# Visual Studio
############################################
.vs/
*.user
*.suo
*.cache
*.dbmdl

############################################
# Build outputs (.NET)
############################################
bin/
obj/
out/

############################################
# Angular / Node
############################################
node_modules/
dist/
.angular/

############################################
# Logs
############################################
*.log

############################################
# Environment files
############################################
.env
.env.*

############################################
# OS files
############################################
.DS_Store
Thumbs.db

############################################
# Rider / VS Code
############################################
.idea/
.vscode/

############################################
# Publish outputs
############################################
publish/


*.nupkg
coverage/
TestResults/

appsettings.Development.json