

/*.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f172a;
  color: #cbd5e1;
  overflow: hidden;
}*/

.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f172a;
  color: #cbd5e1;
  transition: width 0.3s ease;
  overflow: visible;
}

  .sidebar li {
    position: relative;
  }

/* Tooltip hidden by default */
.tooltip {
  position: absolute;
  left: 75px;
  background: #111827;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-5px);
  transition: 0.2s ease;
  pointer-events: none;
  z-index: 1000;
}

/* Show tooltip on hover ONLY when collapsed */
.sidebar.collapsed li:hover .tooltip {
  opacity: 1;
  transform: translateX(0);
}

.sidebar li {
  position: relative;
}

  .sidebar.collapsed {
    width: 70px;
  }

.menu {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  margin: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
}

  li:hover {
    background: #1e293b;
  }

.active {
  background: rgba(59, 130, 246, 0.15);
  color: #60a5fa;
  border-left: 3px solid #3b82f6;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}


/*.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f172a;
  color: #cbd5e1;
  transition: width 0.3s ease;
  overflow: hidden;
}*/

/* HEADER AREA */
/*.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  border-bottom: 1px solid #1e293b;
}*/

/* LOGO */
/*.logo {
  font-weight: 600;
  color: white;
}*/

/* TOGGLE BUTTON (PRETTY UI) */
/*.toggle-btn {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  border: none;
  background: #1e293b;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.2s;
}

  .toggle-btn:hover {
    background: #334155;
  }*/

/* COLLAPSED WIDTH */
/*.sidebar.collapsed {
  width: 70px;
}*/

