@import "bootstrap-icons/font/bootstrap-icons.css";



html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html, body {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0;
  padding: 0;
}

a {
  display: block;
}

button {
  width: 100%;
}



app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*.page-content {
  flex: 1;
  padding-top: 70px;*/ /* navbar height */
  /*min-height: calc(100vh - 120px);
}*/

.page-content {
  flex: 1;
  //padding-top: 0px; /* ONLY for fixed navbar */
}

.public-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
